html{
  width:100%;
  scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(to right, SlateBlue, cyan);
}
.home{
  background-image: linear-gradient(to right, SlateBlue, cyan);
  padding-bottom: 2%;
}
.link{
  color : white !important;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}
.navigator{
  padding: .5%;
  padding-left: 7%;
  box-shadow: 2px 3px 10px black;
}
.slider{
  margin-top: 8%;
}
.fixed-top{
  background-color: #444 ;
}
.left{
  float: left;
  width:50%;
}
.right{
  display: inline-block;
  width:50%;
}
.right p{
  margin-right: 10%;
  text-align: right;
  font-size: 22px;
  font-weight:bold;
  font-style: italic;
}
.cardp{
  background-color: #efffff !important;
  margin-top: 2%;

  width:80%;
  margin-left: 10% !important;
  margin-right: 10% !important;
  background-color: #fff;
  padding: 2%;
      box-shadow: 2px 3px 10px #555;
}
.name{
  font-size: 60px !important;
  line-height: 1em;
  text-align: center;
  font-weight:bold;
  font-family: 'Prata', cursive;
  margin-bottom: 3%;
}
hr{
  width:5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}
.name1{
  font-size: 45px !important;
  line-height: 1em;
  text-align: center;
  font-weight:bold;
  font-family: 'Prata', cursive;
  /* margin-bottom: 3%; */
}
.name2{
  /* margin-bottom: 5%; */
}
.padd{
  padding: 15% 10% 10% 10%;
}
.padd p{
  text-align: center;
  font-size: 22px;
  font-weight:bold;
}
.image{
  border-radius: 8%;
}
.about{
  /* margin-top: 5%;
  margin-bottom: 5%; */
  padding: 5%;
  background-color: #efffff;
  width :90%;
  margin-left: auto !important;
  margin-right: auto !important;
  box-shadow: 2px 2px 10px #555;
}
.topmar{
  /* margin-top: 5%; */
}
hr{
  border: none;
  height: 12px;
  background: black;
  margin-bottom: 50px;
}
.margin{
  margin-top: 3%;
}
.card1{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #efffff !important;
  /* margin-top: 2%; */
  width:50%;
  margin-left: 15% !important;
  margin-right: 35% !important;
  padding: 1%;
}
.card2{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #efffff !important;
  margin-top: 2%;
  width:50%;
  margin-left: 25% !important;
  margin-right: 25% !important;
  padding: 1%;
}
.card3{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #efffff !important;
  margin-top: 2%;
  width:50%;
  margin-left: 35% !important;
  margin-right: 15% !important;
  padding: 1%;
}
.double-border{
background-color:#ccc;
outline: 3px solid #555;
outline-offset: -8px;
}
.title{
  margin-top: 2%;
  color:#555;
  font-weight: bold;
}
.abc{
  /* margin-top: 5%;
  margin-bottom: 5%; */
  padding: 0% 5%;
  width :90%;
  margin-left: auto;
  margin-right: auto;
}
.progress{
  background-color: #ddd !important;
}
.progress-bar{
  font-weight: bold;
  background-image:linear-gradient(to right, SlateBlue, cyan);
}
.interest{
  box-shadow: 3px 3px 7px #333;
  background-color: #ddd;
  width: 65%;
  margin-left: 30%;
  margin-right: auto;
  margin-top: 5%;
  border-radius: 5%;
  padding: 5%;
}
h5{
  text-align: center;
}
.contact{
  height: 300px;
}

.nav-item{
  font-size: 20px;
  margin-left: 5%;
  margin-right: 5%;
}
h1{
  text-align: center;
}
.font-20{
  font-size: 16px !important;
  text-align: justify;
}
.panel{
 border: 2px solid #efffff;
  padding :2%;
  margin-bottom: 2%;
  background-color: #efffff;
}
.panel-title  a{
  color:black !important;
}
.pqr{
padding: 5% 1% 1% 5%;

}
.nav-link {
    color: white !important;
}
.nav-link:hover{
    color: grey !important;
}
.bgdark1{
  background-color: #333 !important;

  margin-top: 20%;
  padding-bottom: 2%;
}
.contact{
  background-color: blue;
}
.fav{

}
.fav li{
  margin-right: 5%;
}
.imgg{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 8%;
}
.fav li{
  display:inline-block;
  float : left;
  list-style-type: none;
}
.favicon{

}
.fav2{
  /* width: 10%;
  margin-left: 50%;
  margin-right: 40%; */
}
@media (min-width: 481px) and (max-width: 767px) {
  .cardp{
    margin-top: 20%;
  }
  .pqr{
  padding: 5% 1% 1% 5%;
  }
  .interest{
    width:65%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 7px #333;
    background-color: #ddd;
    margin-top: 5%;
    border-radius: 5%;
    padding: 5%;
  }

}
.card1{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #efffff !important;
  /* margin-top: 2%; */
  width:80%;
  margin-left:auto !important;
  margin-right: auto !important;
  padding: 1%;
}
.card2{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #efffff !important;
  margin-top: 2%;
  width:80%;
  margin-left:auto !important;
  margin-right: auto !important;
  padding: 1%;
}
.card3{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #efffff !important;
  margin-top: 2%;
  width:80%;
  margin-left:auto !important;
  margin-right: auto !important;
  padding: 1%;
}
.bgdark1{
  background-color: #333 !important;

  margin-top: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.fav2{
  width: 16%;
  margin-left: 42%;
  margin-right: 42%;
}

@media (min-width: 481px) and (max-width: 600px) {
  .fav2{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .fav2{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
  .pqr{
  padding: 5% 1% 1% 5%;
  }
  .card1{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #efffff !important;
    /* margin-top: 2%; */
    width:80%;
    margin-left:auto !important;
    margin-right: auto !important;
    padding: 1%;
  }
  .bgdark{
    background-color: #333 !important;
    height : 400px;
    position: relative;
    z-index: -1 !important;
    margin-top: -20%;
  }
  .card2{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #efffff !important;
    margin-top: 2%;
    width:80%;
    margin-left:auto !important;
    margin-right: auto !important;
    padding: 1%;
  }
  .card3{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #efffff !important;
    margin-top: 2%;
    width:80%;
    margin-left:auto !important;
    margin-right: auto !important;
    padding: 1%;
  }
  .cardp{
    /* margin-top: 20%; */
  }
  .interest{
    width:65%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 7px #333;
    background-color: #ddd;
    margin-top: 5%;
    border-radius: 5%;
    padding: 5%;
  }

}
